
img {
  display: block;
  margin: auto;
  height: 500px;
  width: 500px;
}

h1 {
  text-align: center;
}

ul {
  list-style-position: inside;
  text-align: center;
}

p {
  text-align: center;
}

h3 {
  text-align: center;
}

ol {
  list-style-position: inside;
  text-align: center;
}

a {
  color: white;
  text-align:left
}

body {
  font-family: cursive;
  font-size: 30px;
  color: orange;
  background-image: url("http://az616578.vo.msecnd.net/files/2016/03/21/635941174584041355836077416_PALM.jpg");
}
